include ./assets

mixin searchbar ( data )
  form.__apm_searchbar(
    action= "/search", method= "get", autocomplete= "off",
    spellcheck= "false", role= "search"
  )
    button.__apm_searchbar__submit( type= "submit", title= fn.i18n( 'app.generic:search' ) )
      +icon( 'search' )
    input.__apm_searchbar__input(
      type= "text", name= "q", value= data.q ? data.q.query : '',
      placeholder= fn.i18n( 'app.generic:search' )
    )
