include ./assets

mixin menu( items, opts )
  - var current = opts && opts.current || site && site.path || '/';

  nav.__apm_menu(
    class= opts && opts.classes || "", role= "menu",
    aria-label= opts && opts.aria || "Menu"
  )
    ul.__apm_menu__list
      each item in items
        - 
          var isActive = ( item.href && current && (
            current === item.href || current.startsWith( item.href + '/' )
          ) );

        li.__apm_menu__item( role= "menuitem", aria-label= item.label )
          a.__apm_menu__link( class= isActive ? "___active" : "", href= item.href )
            if item.icon
              +icon( item.icon )
            span= item.label
