@use '../abstract/effect';
@use '../abstract/mixin';
@use '../abstract/theme';
@use '../abstract/vars';

button {
    @include mixin.flex-center;
    @include mixin.font-inherit;
    @include mixin.transparent;
    @include mixin.focused-self( 'primary', 2px );
    @include effect.transition;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.__apm_action_button {
    @include mixin.ratio-width( 44px );
    border-radius: vars.get( 'border-radius' );

    span, .___icon {
        @include mixin.ratio-width( 24px );
        display: block;
    }

    &:hover {
        background: theme.get( 'gray-30' );
    }

}

.__apm_settings_button {
    @include mixin.border( 'gray-30', 1px );
    flex: 1;
    min-width: 120px;
    height: 40px;
    padding: 0 vars.get( 'padding-small' );
    background: theme.get( 'gray-10' );
    border-radius: 8px;

    &:hover {
        background: theme.get( 'gray-30' );
        border-color: theme.get( 'gray-50' );
    }

    &.___active {
        color: theme.get( 'contrast' );
        background: theme.get( 'primary' );
        border-color: theme.get( 'primary' );
    }

}
