@font-face {
    font-family: 'REM';
    src: url( 'assets/fonts/REM.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'REM';
    font-style: italic;
    src: url( 'assets/fonts/REM-Italic.woff2' ) format( 'woff2' );
}
