@use '../abstract/effect';
@use '../abstract/mixin';
@use '../abstract/theme';
@use '../abstract/vars';

@use './button';
@use './form';
@use './utils';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    outline: 0 none;
}

html, body {
    margin: 0;
    line-height: 1.2;
    font-family: vars.get( 'font-sans' );
    font-size: 1rem;
    color: theme.get( 'text' );
    background: theme.get( 'bg' );
}

a, a:link, a:visited, a:hover {
    @include mixin.font-inherit;
    text-decoration: none;
}

.__apm_backdrop {
    @include mixin.position( fixed, 0, 0, 0, 0 );
    @include mixin.transition;
    @include effect.fade-in;
    background: rgba( 0 0 0 / 0.4 );
    z-index: 1002;

    @include mixin.layout-max( 'mobile' ) {
        z-index: 999;
    }

}
