* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    -ms-overflow-style: none;
    scrollbar-width: none
}

*, *:before, *:after {
    box-sizing: border-box !important;
    outline: 0 none;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none
}
