doctype html
html( lang= lang )

  head
    meta( charset= 'utf-8' )
    title= t( 'generic:title', { title } )

  body#top.__apm

    include ./partials/header

    main#main.__apm_main( role= 'main' )
      block content

    include ./partials/footer
