extends ./base/page
include ./mixin/load

block content
  +map( {
    mode: 'theater',
    allowFullscreen: true,
    urlManipulation: true,
    trackUserPosition: true,
    enableDeviceOrientation: true,
    showDayNightBoundary: true
  } )
