extends ./base/page
include ./mixin/load

block content
  +map( {
    mode: 'theater',
    allowFullscreen: true,
    urlManipulation: true,
    trackUserPosition: true,
    stateStorage: {
        enabled: true,
        restoreOnLoad: true,
        mapId: 'main-map'
    },
    enableDeviceOrientation: true,
    showDayNightBoundary: true
  } )
