@mixin font-settings {
    font-display: swap;
    font-variant: normal;
    font-kerning: auto;
    font-variant-ligatures: normal;
    font-variant-numeric: tabular-nums;
}

@font-face {
    @include font-settings;
    font-family: 'REM';
    src: url( ../assets/fonts/REM.woff2 ) format( 'woff2' );
}

@font-face {
    @include font-settings;
    font-family: 'REM';
    font-style: italic;
    src: url( ../assets/fonts/REM-Italic.woff2 ) format( 'woff2' );
}
