$theme: (
    text:      #000000,
    bg:        #f8f7f7,
    contrast:  #ffffff,

    primary:   #29d682,
    secondary: #29bec0,
    tertiary:  #8ff2c2,
    special:   #176db3,

    gray-10:   #ffffff,
    gray-30:   #e3e7e8,
    gray-50:   #c2d0d4,
    gray-70:   #8f9ba1,
    gray-90:   #1a191d
);
