$theme: (
    bright:   #ffffff,
    light:    #e3e7e8,
    medium:   #c2d0d4,
    dark:     #1a191d,
    main:     #29d682,
    second:   #29bec0,
    tertiary: #8ff2c2,
    special:  #176db3,
    text:     #000000,
    contrast: #ffffff,
    bg:       #f8f7f7,
    good:     #29d682,
    warn:     #e5d460,
    bad:      #ff5349
);
