$theme: (
    bright:   #0f1011,
    light:    #51535e,
    medium:   #90929e,
    dark:     #ffffff,
    main:     #29d682,
    second:   #29bec0,
    tertiary: #8ff2c2,
    special:  #176db3,
    text:     #ffffff,
    bg:       #151a1c
);
