header#header.__apm_header( role= "banner", aria-label= "Header" )
  div.__apm_header__container
    div.__apm_header__left
      a.__apm_header__site_title( href= "/", title= alt = fn.i18n( 'app.generic:name' ), aria-label= "Site title" )
        object.__apm_header__site_logo( data= "assets/images/logo.svg", type= "image/svg+xml", aria-label= "Logo" )
          img( src= "assets/images/logo_256x256.png", alt= alt )
        object.__apm_header__site_wordmark( data= "assets/images/wordmark.svg", type= "image/svg+xml", aria-label= "Wordmark" )
          img( src= "assets/images/wordmark_256x27.png", alt= alt )

    div.__apm_header__center

    div.__apm_header__right
