@use '../abstract/effect';
@use '../abstract/mixin';
@use '../abstract/theme';
@use '../abstract/vars';

.__apm_footer {
    @include mixin.prevent-select;
    @include mixin.border( 'gray-30', $top: 1px );
    margin-top: vars.get( 'padding-wide' );
    padding: vars.get( 'padding-large' ) vars.get( 'padding-normal' );
        color: theme.get( 'gray-70' );
    background: theme.get( 'gray-10' );
    box-shadow: 0 -24px 16px -16px rgba( 0 0 0 / 0.02 );

    .__apm_menu {

        &__list {
            @include mixin.unstyled-list;
        }

        &__item a {
            @include mixin.flex-row( 4px );
            @include effect.transition( 'color' );

            &:hover {
                color: theme.get( 'special' );
            }

        }

    }

    &__container {
        @include mixin.max-width( 'content-normal' );
    }

    &__main {
        display: grid;
        grid-template-columns: 3fr repeat( 3, 2fr );
        gap: vars.get( 'padding-large' );

        @include mixin.layout-max( 'wide' ) {
            grid-template-columns: repeat( 3, 1fr );
        }

        @include mixin.layout-max( 'small' ) {
            grid-template-columns: repeat( 2, 1fr );
        }

        @include mixin.layout-max( 'mobile' ) {
            grid-template-columns: 1fr;
        }

    }

    &__brand {

        &_title {
            @include mixin.flex-row( 12px );

            object, image {
                @include mixin.prevent-events;
            }

        }

        &_logo {
            height: 36px;
        }

        &_wordmark {
            height: 16px;
        }

        &_desc {
            margin: vars.get( 'padding-normal' ) 0;
            line-height: 1.4;
        }

        @include mixin.layout-max( 'wide' ) {
            grid-column: 1 / -1;
        }

    }

    &__socials ul, &__legal ul {
        @include mixin.flex-row( vars.get( 'padding-tiny' ) vars.get( 'padding-normal' ), $nowrap: false );
    }

    &__column {

        &_title {
            margin: 0 0 vars.get( 'padding-normal' );
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: theme.get( 'text' );
        }

        &_menu li {
            margin-bottom: vars.get( 'padding-small' );
        }

    }

    &__bottom {
        @include mixin.flex-row( vars.get( 'padding-small' ) vars.get( 'padding-normal' ), space-between, $nowrap: false );
        @include mixin.border( 'gray-30', $top: 1px );
        margin-top: vars.get( 'padding-large' );
        padding-top: vars.get( 'padding-large' );
        font-size: 14px;
        font-weight: 500;
    }

    &__credits p {
        margin: 0;
    }

}

.__apm_notice {
    @include mixin.prevent-select;
    padding: vars.get( 'padding-small' );
    color: theme.get( 'contrast' );
    background: theme.get( 'secondary' );

    p {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
    }

}
