@use '../abstract/mixin';
@use '../abstract/theme';
@use '../abstract/vars';

@use './searchbar';

.__apm_header {
    @include mixin.prevent-select;
    @include mixin.position( sticky, 0 );
    @include mixin.border( 'gray-30', $bottom: 1px );
    @include mixin.shadow-box;
    width: 100%;
    padding: 0 vars.get( 'padding-normal' );
    background: theme.get( 'gray-10' );
    z-index: 999;

    &__container {
        @include mixin.flex-row( vars.get( 'padding-wide' ), space-between );
        @include mixin.max-width( 'content-wide' );
        height: vars.get( 'header-height' );
    }

    &__site {

        &_title {
            @include mixin.flex-row( 12px );

            object, image {
                @include mixin.prevent-events;
            }

        }

        &_logo {
            height: 36px;
        }

        &_wordmark {
            @include mixin.hide-at( 'normal' );
            height: 20px;
        }

    }

    &__center {
        flex: 1;
    }

    &__actions {
        @include mixin.flex-row( 8px );

        &_item {
            position: relative;
        }

        &_button {
            @include mixin.flex-center;
            @include mixin.ratio-width( 44px );
            @include mixin.font-inherit;
            @include mixin.transparent;
            @include mixin.transition;
            border-radius: vars.get( 'border-radius' );
            cursor: pointer;

            * {
                display: block;
            }

            &:hover, &.___active {
                background: theme.get( 'gray-30' );
            }

            &:focus, &.___active {
                @include mixin.outline( 'primary', 2px );
            }

        }

    }

}
