@use '../abstract/mixin';
@use '../abstract/theme';

.__apm_menu__list {
    @include mixin.unstyled-list;
    @include mixin.full-sized;
}

.__apm_menu__nav {

    .__apm_menu__list {
        @include mixin.flex-col;
    }

    .__apm_menu__item {
        width: 100%;

        &.___active .__apm_menu__link {
            font-weight: bold;
            color: theme.get( 'special' );
            background: theme.get( 'special', 0.05 );
        }

    }

    .__apm_menu__link {
        @include mixin.flex-row( 8px, flex-start, center );

        width: 100%;
        padding: 10px 20px;
        border-radius: 0;
        transition: background 0.15s;

        &:hover, &:focus {
            background: theme.get( 'special', 0.02 );
        }

    }

}

.__apm_menu__icon {

    .__apm_menu__list {
        @include mixin.flex-row( 6px, space-between );

        padding: 10px 20px;
    }

}
