@use '../abstract/theme';
@use '../abstract/mixin';
@use '../abstract/vars';

.__apm_searchbar {
    @include mixin.flex-center;
    @include mixin.focused-parent;

    max-width: 80%;
    min-width: 60%;
    background: theme.get( 'light', 0.1 );
    border: 1px solid theme.get( 'light' );
    border-radius: vars.get( 'border-radius' );

    button, input {
        @include mixin.transparent;
        @include mixin.hide-outline;
    }

    input {
        @include mixin.flex-full-sized;
    }

}
