include ../mixin/assets
include ../mixin/meta

doctype html
html( class= htmlClasses, lang= app.lang )

  head
    meta( charset= "utf-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )
    
    +appeal()
    +metadata( meta )
    +og( data )
    +preload( assets )
    +css( assets )
    +js( assets )


  body#top( class= bodyClasses ? bodyClasses : "__apm" )

    include ../component/header

    main#main.__apm_main( role= "main" )
      block content

    include ../component/footer
