include ../mixin/assets
include ../mixin/meta

doctype html
html(
  class= htmlClasses,
  lang= cookies.locale
  data-theme= cookies.theme,
  data-units= cookies.units
)

  head
    meta( charset= "utf-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )

    +appeal()
    +metadata( meta )
    +og( data )

    +preload( assets )
    +css( assets )
    +js( assets )


  body#top( class= bodyClasses || "__apm" )

    include ../component/header
    include ../component/sidepanel
    include ../component/footer
