doctype html
html( lang= lang )

  head
    meta( charset= 'utf-8' )
    title= t( 'app.generic:title' )

  body#top.__apm

    include ../components/header

    main#main.__apm_main( role= 'main' )
      block content

    include ../components/footer
