doctype html
html( lang= lang )

  head
    meta( charset= 'utf-8' )
    meta( name= 'viewport', content= 'width=device-width, initial-scale=1' )

    title= meta.title
    if meta.description
      meta( name= 'description', content= meta.description )
    if meta.canonical
      link( rel= 'canonical', href= meta.canonical )
    if meta.robots
      meta( name= 'robots', content= meta.robots )

  body#top.__apm

    include ../components/header

    main#main.__apm_main( role= 'main' )
      block content

    include ../components/footer
