include ../mixin/assets
include ../mixin/form
include ../mixin/menu
include ../mixin/meta

doctype html
html( class= htmlClasses, lang= app.lang )

  head
    meta( charset= "utf-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )
    
    +appeal()
    +metadata( meta )
    +og( data )
    +preload( assets )
    +css( assets )
    +js( assets )


  body#top( class= bodyClasses ? bodyClasses : "__apm" )

    header#header.__apm_header( role= "banner" )
      div.__apm_header__inner
        div.__apm_header__left
          a.__apm_header__logo( href= "/", title= fn.i18n( 'app.generic:name' ) )
            object( data= "assets/images/logo.svg", type= "image/svg+xml" )
              img( src= "assets/images/logo_256x256.png", alt= fn.i18n( 'app.generic:name' ) )

        div.__apm_header__center
          div.__apm_header__searchbar
            +searchbar( data )

        div.__apm_header__right
          div.__apm_header__actions
            div#__site_menu.__apm_header__actions_item
              a.__apm_header__actions_button( title= fn.i18n( 'app.generic:menu' ) )
                +icon( 'menu' )
              div.__apm_header__actions_app
            div#__site_dasher.__apm_header__actions_item
              a.__apm_header__actions_button( title= fn.i18n( 'app.generic:dasher' ) )
                +icon( 'dasher' )
              div.__apm_header__actions_app

    main#main.__apm_main( role= "main" )
      block content

    footer#footer.__apm_footer( role= "contentinfo" )
