header#header.__apm_header( role= "banner" )
  div.__apm_header__left
    a.__apm_header__logo( href= "/" )
      object( data= "assets/images/logo.svg", type= "image/svg+xml" )
        img( src= "assets/images/logo_256x256.png", alt= fn.i18n( 'app.generic:name' ) )
  div.__apm_header__center
  div.__apm_header__right
