@use '../abstract/mixin';
@use '../abstract/theme';
@use '../abstract/vars';

.__apm_header {
    @include mixin.prevent-select;
    @include mixin.glass-effect( 'light' );
    @include mixin.fixed( 0, 0, 0 );

    height: vars.get( 'header-height' );
    padding: 0 vars.get( 'padding-normal' );
    border-bottom: 1px solid theme.get( 'light' );
    z-index: 999;
}

.__apm_header__inner {
    @include mixin.flex-row( vars.get( 'padding-normal' ), space-between );
    @include mixin.max-width( 'content-wide' );
    @include mixin.full-sized();
}

.__apm_header__logo {
    @include mixin.ratio-height( vars.get( 'button-height' ) );

    display: block;

    object, image {
        @include mixin.prevent-events;

        width: 100%;
        height: 100%;
    }

}

.__apm_header__actions {
    @include mixin.flex-row( 12px, flex-end );
    @include mixin.layout-min( 'normal' ) {
        #__site_search { display: none; }
    }
}
