@use '../abstract/mixin';
@use '../abstract/theme';
@use '../abstract/vars';
@use 'header';

html, body {
    margin: 0;
    line-height: 1.2;
    font-family: vars.get( 'font-sans' );
    font-size: 16px;
    color: theme.get( 'text' );
    background: theme.get( 'bg' );
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    outline: 0 none;
}

a, a:link, a:visited, a:hover {
    @include mixin.font-inherit;
    @include mixin.focused-self;
}

.__apm_backdrop {
    @include mixin.fixed( 0, 0, 0, 0 );

    background: theme.get( 'bright', 0.4 );
    z-index: 998;

    &:not( .___active ) {
        display: none;
    }

}
