@mixin transition( $properies: all, $duration: 100ms, $easing: 'ease-out', $delay: 40ms ) {
    transition-property: #{$properies};
    transition-duration: #{$duration};
    transition-timing-function: #{$easing};
    transition-delay: #{$delay};
}

@mixin fade-in {
    visibility: hidden;
    opacity: 0;

    &.___active, &.___toggle_active {
        visibility: visible;
        opacity: 1;
    }

}

@mixin slide-in( $from, $to: 0, $dir: '' ) {
    visibility: hidden;
    transform: translate#{$dir}( #{$from} );

    &.___active, &.___toggle_active {
        visibility: visible;
        transform: translate#{$dir}( #{$to} );
    }

}
