@use 'theme';
@use 'var';

@mixin prevent-select {
    user-select: none;
    -webkit-user-select: none;
}

@mixin prevent-events {
    pointer-events: none;
}

@mixin fixed( $top: unset, $left: unset, $right: unset, $bottom: unset ) {
    position: fixed;
    top: #{$top};
    left: #{$left};
    right: #{$right};
    bottom: #{$bottom};
}

@mixin max-width-px( $width, $margin: 0 auto ) {
    margin: #{$margin};
    max-width: #{$width};
}

@mixin max-width( $size, $margin: 0 auto ) {
    @include max-width-px( var.get( $size ), $margin );
}

@mixin glass-effect( $color, $alpha: 0.4, $blur: 16px ) {
    background: theme.get( $color, $alpha );
    backdrop-filter: blur( #{$blur} );
    -webkit-backdrop-filter: blur( #{$blur} );
}
