@use 'themes';

@mixin prevent-select {
    user-select: none;
    -webkit-user-select: none;
}

@mixin glass-effect( $color, $alpha: 0.4, $blur: 16px ) {
    background: themes.get( $color, $alpha );
    backdrop-filter: blur( #{$blur} );
    -webkit-backdrop-filter: blur( #{$blur} );
}
