@use 'theme';
@use 'vars';

@mixin hide-scrollbars {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@mixin prevent-select {
    user-select: none;
    -webkit-user-select: none;
}

@mixin prevent-events {
    pointer-events: none;
}

@mixin layout-max( $at ) {
    @media ( max-width: vars.getval( 'layout-breakpoint--#{$at}' ) ) {
        @content;
    }
}

@mixin layout-min( $at ) {
    @media ( min-width: vars.getval( 'layout-breakpoint--#{$at}' ) ) {
        @content;
    }
}

@mixin fixed( $top: unset, $left: unset, $right: unset, $bottom: unset ) {
    position: fixed;
    top: #{$top};
    left: #{$left};
    right: #{$right};
    bottom: #{$bottom};
}

@mixin max-width-px( $width, $margin: 0 auto ) {
    margin: #{$margin};
    max-width: #{$width};
}

@mixin max-width( $size, $margin: 0 auto ) {
    @include max-width-px( vars.get( $size ), $margin );
}

@mixin full-sized {
    width: 100%;
    height: 100%;
}

@mixin flex-full-sized {
    flex: 1;
    width: 100%;
    min-width: 0;
}

@mixin ratio-width( $width: 100%, $ratio: '1/1' ) {
    aspect-ratio: #{$ratio};
    width: #{$width};
    height: auto;
}

@mixin ratio-height( $height: 100%, $ratio: '1/1' ) {
    aspect-ratio: #{$ratio};
    width: auto;
    height: #{$height};
}

@mixin flex-center( $gap: 0, $nowrap: true, $inline: false ) {
    display: if( $inline, inline-flex, flex );
    flex-flow: row if( $nowrap, nowrap, wrap );
    justify-content: center;
    align-items: center;
    gap: #{$gap};
}

@mixin flex-row( $gap: 0, $horiz: flex-start, $vert: center, $nowrap: true ) {
    display: flex;
    flex-flow: row if( $nowrap, nowrap, wrap );
    justify-content: #{$horiz};
    align-items: #{$vert};
    gap: #{$gap};
}

@mixin flex-col( $gap: 0, $horiz: center, $vert: flex-start, $nowrap: true ) {
    display: flex;
    flex-flow: column if( $nowrap, nowrap, wrap );
    justify-content: #{$horiz};
    align-items: #{$vert};
    gap: #{$gap};
}

@mixin font-inherit {
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

@mixin glass-effect( $color, $alpha: 0.5, $blur: 32px ) {
    background: theme.get( $color, $alpha );
    backdrop-filter: blur( #{$blur} );
    -webkit-backdrop-filter: blur( #{$blur} );
}

@mixin styled-bg( $color ) {
    color: theme.get( 'contrast' ) !important;
    background: theme.get( $color ) !important;
}
