@use 'sass:map';

$default: (
    content-wide: 1640px,
    content-normal: 1260px,
    content-small: 980px,

    padding-wide: 64px,
    padding-large: 48px,
    padding-normal: 24px,
    padding-small: 16px,
    padding-tiny: 8px,

    header-height: 72px,
    font-sans: '"REM", sans-serif'
);

$vars: ();

@each $key, $_ in $default {
    $vars: map.set( $vars, $key, var( --var-#{$key} ) );
}

@function get( $name, $fb: null, $val: false ) {
    $value: map.get( if( $val, $default, $vars ), $name );
    @if $value { @return $value; }
    @else if $fb { @return $fb; }
    @else {
        @warn "Variable '#{$name}' is not defined";
        @return null;
    }
}

@function getval( $name, $fb: null ) {
    @return get( $name, $fb, true );
}

:root {
    @each $key, $value in $default {
        --var-#{$key}: #{$value};
    }
}
