@use 'sass:map';

$default: (
    site-content--wide: 1640px,
    site-content--normal: 1260px,
    site-content--small: 980px,
    header-height: 76px,
    font-sans: '"REM", sans-serif'
);

$vars: ();

@each $key, $_ in $default {
    $vars: map.set( $vars, $key, var( --#{$key} ) );
}

@function get( $name, $fb: null ) {
    $value: map.get( $vars, $name );
    @if $value { @return $value; }
    @else if $fb { @return $fb; }
    @else {
        @warn "Variable '#{$name}' is not defined";
        @return null;
    }
}

:root {
    @each $key, $value in $default {
        --#{$key}: #{$value};
    }
}
